.filter-panel {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    padding-left: 10px;
}

.filter__trigger:hover {
    color: #008d85;
}

.filter__accordion {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 10px;

    width: 300px;

    border: 1px solid #d9d9d9;
    background-color: #ffffff;
}

.filter-accordion__item-title {
    height: 2em;
    width: 100%;
    padding: 0 0.5em;

    line-height: 2em;
    font-weight: 600;
    color: #333333;
}

.filter-accordion__item:not(:first-child) {
    border-top: 1px solid #d9d9d9;
}

.filter-accordion__item-body {
    color: #333333;
}

.filter-accordion__item-header {
    height: 1.875em;
    padding: 0 10px;

    line-height: 1.875em;
    font-size: 0.8em;

    background-color: #f2f2f2;
    color: #999999;
}

.filter-accordion__list-item {
    height: 2em;
    padding: 0 0.5em;

    line-height: 2em;
    cursor: pointer;
}

.filter-accordion__list-item:hover {
    background-color: #f2f2f2;
}

.filter-accordion__list-item_selected {
    background-color: #e6f6f5;
}

.filter-accordion-list-item__checkbox {
    margin-right: 0.8em;
}

.filter-accordion__item-input {
    width: 100%;
    height: 1.6em;
    padding-left: 2em;

    font-size: 1em;

    border: none;

    outline: none;
}

.input_invalid {
    background-color: #FFEBEE;
}

.filter__tag-panel {
    display: inline-block;
    margin-left: 10px;
}

.filter__tag {
    display: inline-block;
    height: 28px;
    padding: 5px;
    margin-right: 5px;
    font-size: 0.75em;
    background-color: #dfdfdf;
    border-radius: 2px;
}

.filter-tag__close {
    height: 100%;
    padding: 1px 10px;

    background: none;
    border: none;

    font-weight: 700;
    font-size: 1em;

    cursor: pointer;
    outline: none;
}