
.twoPanelSection {
    -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.25);
    box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.25);
    border: 1px solid #cccccc;
    margin: 15px 0;
    padding: 10px;
    width: 44%;
    min-height: 350px;
    position: relative;
}

.formSection {
    background-color: #c1e1f5;
}

.floatLeft {
    float: left;
    clear: none;
    margin-right: 5px;
}

.floatRight {
    float: right;
    clear: none;
    margin-left: 5px;
}

.leftAlign {
    text-align: left;
}

.infoSection {
    background-color: #f3f3f3;
}

.tabContentHolder {
    display: block !important;
    border-top: none !important;
}

.textarea-notes {
    width: 100%;
    height: 70px;
}
