.list {
    font-size: 0.875em
}

.list-menu {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    padding: 5px 0;
    align-items: center;
}

.list-menu__button {
    flex: 0 0 auto;
    cursor: default;
}

.list-menu__button_ribbon {
    margin-left: 10px;
    font-size: 1.125em;
    line-height: 0.875em;
}

.list_menu__select-all-checkbox {
    vertical-align: -2px;
    margin-right: 10px;
    cursor: pointer;
}

.list_menu__invert-selection {
    cursor: pointer;
    display: inline-block;
}

.list_menu__invert-selection:hover {
    color: #333333;
}

.list-item {
    height: 65px;
    display: flex;
}

.list-item__partial {
    height: 100%;
    flex: 1 1 auto;
    padding-top: 18px;
}

.list-item__drag-section {
    flex: 0 0 10px;
}

.list-item__status_ok {
    background-color: #89c341;
}

.list-item__status_warning {
    background-color: #f98700;
}

.list-item__status_error {
    background-color: #f83200;
}

.list-item__status_unused {
    background-color: #3cb6ce;
}

.list-item__status_disabled {
    background-color: #ccc;
}

.list-item__main-section {
    display: flex;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-bottom: none;
    flex: 1 1 auto;
}

.list-item:last-child .list-item__main-section {
    border-bottom: 1px solid #d9d9d9;
}

.list-item__icon {
    flex: 0 0 50px;
    text-align: center;
    height: 100%;
}

.list-item__icon-label {
    display: block;
    padding-top: 20px;
    cursor: pointer;
}

.list-item__name {
    flex: 1 1 30%;
}

.list-item__desc {
    flex: 1 1 25%;
}

.list-item__actions {
    flex: 0 0 auto;
    padding-right: 25px;
}