.tabs__panes {
    position: relative;
    overflow: hidden;
    font-size: 0.875em;
}

.tabs__panes-container {
    margin: 0;
    padding: 0;
}

.tabs__tab {
    display: inline-block;
    width: 25%;
    margin: 0;
    padding: 0 20px;
    font-weight: 600;
    line-height: 50px;
    color: #333333;
    text-align: center;
    border-right: 1px solid #d9d9d9;
    background-color: #f2f2f2;
    cursor: pointer;
}

.tabs__tab_current {
    padding-bottom: 1px;
    border-bottom: 0;
    background-color: #ffffff;
}

.tabs__tab-content {
    margin: -1px 0 0;
    padding: 20px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
}