.tabs__panes {
    position: relative;
    overflow: hidden;
}

.tabs__panes-container {
    margin: 0;
    padding: 0;
}

.tabs__tab {
    display: table;
    float: left;
    min-width: 25%;
    margin: 0;
    padding: 0 20px;
    font-size: 0.875em;
    font-weight: 600;
    height: 50px;
    color: #333333;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-left: 0;
    background-color: #f2f2f2;
    cursor: pointer;
}

.tabs__tab-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.tabs__panes-container_long .tabs__tab:last-child {
    border-right: 0;
}

.tabs__tab_current {
    padding-bottom: 1px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

.tabs__tab-content {
    padding: 0 20px;
    background-color: #fff;
    border-top: 1px solid #d9d9d9;
    margin-top: -1px;
}

.tabs__tab_information {
    position: relative;
    float: right;
    border: 0;
    background: none;
    font-weight: 400;
    cursor: default;
}